
/*Main Menu */

#logo{
	-fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2.0;
}

#menu_button{
	-fx-background-color: linear-gradient(#DDDDDD 0.0%, #969696 50.0%, #808080 51.0%, #646464 100.0%);
	-fx-border-width: 2.0;
	-fx-border-color: linear-gradient(to left, red, blue);
	-fx-text-fill: linear-gradient(to left, #3333FF, #333399);

}
#menu_button:hover {
	-fx-text-fill: linear-gradient(to left, red, blue);
	-fx-border-width: 2.0;
    -fx-effect: dropshadow( gaussian  , white , 50.0 , 0.1 , 0.0 , 0.0 );
}
#menu_button:pressed {
	-fx-text-fill: linear-gradient(to left, red, blue);
	-fx-border-width: 2.0;
    -fx-effect: innershadow( gaussian  , black , 15.0 , 0.1 , 0.0 , 0.0 );
}
#menu_image {
	-fx-background-image: url("Images/Breakout2600.png");
    -fx-background-size: stretch;
}

#menu_image_advanced {
	-fx-background-image: url("Images/Backgrounds/earth.jpg");
    -fx-background-size: stretch;
}
#menu_image_level {
	-fx-background-image: url("Images/Levels_Background.png");
    -fx-background-size: stretch;
}
#menu_image_score {
	-fx-background-image: url("Images/Trofeo.jpg");
    -fx-background-size: stretch;
}
#menu_image_exit {
	-fx-background-image: url("Images/Exit.jpg");
    -fx-background-size: stretch;
}

/* Classic Game */

#classic_text {
	-fx-fill: grey;
}
#classic_pane {
	-fx-background-color: black;
}
#classic_stats {
	
}

/*Advanced Game */
#black_white_gradient{
		-fx-stroke-width: 8.0;
		-fx-stroke: linear-gradient(to right, #060606, white);
		-fx-stroke-type: centered;
		-fx-stroke-line-cap: round;
}
#white_black_gradient{
		-fx-stroke-width: 8.0;
		-fx-stroke: linear-gradient(to left, #060606, white);
		-fx-stroke-type: centered;
		-fx-stroke-line-cap: round;
}
#grey_black_radial{
	-fx-background-color: radial-gradient(center 50.0% 0.0%, radius 65.0%, darkgray, #060606);
	-fx-border-color:white;
	-fx-border-width:3.0;
}
#advanced_text{
	-fx-fill:white;
	-fx-stroke:black;
	-fx-stroke-width:1.0;
}
#advanced_pane {
	-fx-background-color: #060606;
	-fx-background: #060606;
}
#advanced_stats {
	-fx-border-color: black;
	-fx-border-width:3.0;
}
#white_shadow{
	
}
#white_shadow:hover {
	-fx-effect: dropshadow( gaussian  , white , 50.0 , 0.1 , 0.0 , 0.0 );
}
#white_shadow:pressed {
	-fx-effect: innershadow( gaussian  , black , 15.0 , 0.1 , 0.0 , 0.0 );
}
/* Choose Scene */
#arrow{
	
}
#arrow:pressed{
	-fx-effect: innershadow( gaussian  , white , 15.0 , 0.1 , 0.0 , 0.0 );
}
#arrow:released{
	-fx-effect:null;
}
.list-view{
	-fx-background-color: #202020;
}
.list-cell{
	-fx-control-inner-background: #202020;
	-fx-control-inner-background-alt: derive(-fx-control-inner-background, 0.0%);
}


